@page "/About"
<div class="backgroundcolor_height">
    <MudGrid Class="d-flex align-center justify-center mud-width-full py-8">
        
            <MudItem xs="12" sm="7">
                <MudPaper Class="mx-auto pa-6">
                    <h3>About HyperMarket</h3>
                    <p>
                        <b>HyperMarket.com</b>  (HyperMarket India Private Limited) is India’s first hyper-local online platform that enables customers and local merchants to discover and engage with each other. We at HyperMarketF.com, work hard to bring your world, closer to you.<br />
                        Whether it’s fine dining, relaxing at the top spas, or just discovering your city intimately, HyperMarket.com makes it happen for you.<br />
                        HyperMarket.com also offers its merchants a strong branding and visibility-led platform that enables customers, in and around their establishments, to easily discover their businesses.<br />
                        <br />
                        <h6 class="alignment_of_locations">Office Locations</h6><br />
                        <h6 class="alignment_of_locations">Delhi</h6><br />
                        Building No. 22, Mezzanine Floor, Pushp Vihar Commercial Complex, LSC Madangir, Saket, New Delhi - 110062<br />
                        <br />
                        <h6 class="alignment_of_locations">Mumbai</h6><br />
                        Awfis 3rd Floor, Modi House, Near Fun Republic, Opp Barbeque Nation, Andheri West, Mumbai - 400053<br />
                        <br />
                        <h6 class="alignment_of_locations">Hyderabad</h6><br />
                        Plot No 682, 3rd Floor, Babukhan Rasheed Plaza, Road No 36, Jubilee Hills, Hyderabad, Telangana - 500033<br>
                    </p>
                </MudPaper>
            </MudItem>
       
    </MudGrid>
</div>

@code {

}
