@page "/About"

<MudGrid style = "padding: 205px; margin-left: 200px; margin-top: -150px; color:Background:black"Class="ml-60 align-center">
    <MudItem xs="12" sm="7">
        <MudPaper Class="mx-auto pa-6"> 
<h3>About NearBuy</h3>

<p>
        <b>nearbuy.com</b>  (Nearbuy India Private Limited) is India’s first hyper-local online platform that enables customers and local merchants to discover and engage with each other. We at nearbuy.com, work hard to bring your world, closer to you.<br />
        Whether it’s fine dining, relaxing at the top spas, or just discovering your city intimately, nearbuy.com makes it happen for you.<br />
nearbuy.com also offers its merchants a strong branding and visibility-led platform that enables customers, in and around their establishments, to easily discover their businesses.<br />
<br />
<b>Office Locations</b><br />
Delhi:<br />
Building No. 22, Mezzanine Floor, Pushp Vihar Commercial Complex, LSC Madangir, Saket, New Delhi - 110062<br />
<br />
Mumbai:<br />
Awfis 3rd Floor, Modi House, Near Fun Republic, Opp Barbeque Nation, Andheri West, Mumbai - 400053<br />
<br />
Hyderabad:<br />
Plot No 682, 3rd Floor, Babukhan Rasheed Plaza, Road No 36, Jubilee Hills, Hyderabad, Telangana - 500033<br>
</p>
</MudPaper>
</MudItem>
</MudGrid>


@code {

}
