/*.first {
    padding: 110px;
    margin-left: 295px;
    margin-top: -50px;
    padding-right: 0px;
    margin-right: -46px
}*/


.bg {
    background-color: #cbf0f561;
    height: 120vh;
}

.bottom {
    margin-bottom: -10px;
}
