@page "/AddProduct"
@using System.ComponentModel.DataAnnotations
@using HyperMarket.DB.Models
@inject HyperMarket.Data.Interfaces.IProductService productService

<center>
    <EditForm Model="@prod" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator />

        <MudGrid Class="d-flex justify-center align-center">
            <div class="first">
                <MudItem class="third">
                    <MudCard class="second">
                        <h4>Add New Product</h4>
                        <MudCardContent>
                            <MudTextField Label="Product name" HelperText="Max. 30 characters"
                                          @bind-Value="prod.ProductName" />
                            <MudTextField Label="Product Description" Class="mt-3"
                                          @bind-Value="prod.ProductDescription" />
                            <MudTextField Label="Price" HelperText="List your price" Class="mt-3"
                                          @bind-Value="prod.Price" InputType="InputType.Number" />
                        </MudCardContent>
                        <MudCardActions>
                            <div class="btn">
                                <MudButton ButtonType="ButtonType.Submit" Align="align.Right" OnClick="@SaveChanges"><div class="btncolor">Register</div></MudButton>
                            </div>
                        </MudCardActions>

                    </MudCard>
                </MudItem>
            </div>
        </MudGrid>
    </EditForm>
</center>

@code {
    Product prod = new Product();
    bool success;
    public void SaveChanges()
    {
    }
    private void OnValidSubmit(EditContext context)
    {
        success = true;
        productService.SaveProduct(prod);
        StateHasChanged();
    }

}