@page "/Blog"
@using HyperMarket.DB.Models
@using HyperMarket.Shared
@using System.ComponentModel.DataAnnotations
@inject HyperMarket.Data.Interfaces.IBlogService blogService

<body class="backgroundcolor_height">
    <MudGrid Class="d-flex align-center justify-center mud-width-full py-8">
    <div class="row">
        @foreach (var item in blogs)
        {
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h3 class="title1">@item.BlogTitle</h3>
                    </div>
                    <div class="card-text">
                        <p>@item.BlogContent</p>
                    </div>
                    <a href="#" class="btn">Read More</a>
                </div>
            </div>
        }
    </div>
    
    </MudGrid>
</body>


@code {

    public List<Blog> blogs = new List<Blog>();

    public Blog b1 = new Blog();

    protected override async Task OnInitializedAsync()
    {

        blogs = await blogService.GetBlog();
    }
}