@page "/ContactUs"

<MudGrid style = "padding: 205px; margin-left: 200px; margin-top: -150px; color:Background:black"Class="ml-60 align-center">
    <MudItem xs="12" sm="7">
        <MudPaper Class="mx-auto pa-6"> 
<h3>Contact Us</h3>
<MudIconButton Icon="@Icons.Material.Filled.Phone" aria-label="phone"></MudIconButton>
<p>1234567890</p>
<MudIconButton Icon="@Icons.Material.Filled.Email" aria-label="email"></MudIconButton>
<p>support@gmail.com</p>
</MudPaper>
</MudItem>
</MudGrid>


@code {

}
