@page "/ContactUs"
@using HyperMarket.DB.Models;
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@inject HyperMarket.Data.Interfaces.IConfigService configService

<div class = "backgroundcolor_height">
<MudGrid Class="d-flex align-center justify-center mud-width-full py-8">
   
        <MudItem xs="12" sm="7">
            
                <MudPaper Class="mx-auto pa-6">
                    <h3>Contact Us</h3>
                    <MudIconButton Icon="@Icons.Material.Filled.Phone" aria-label="phone"></MudIconButton>
                    <p>@config.TelephoneId   </p>
                    <MudIconButton Icon="@Icons.Material.Filled.Email" aria-label="email"></MudIconButton>
                    <p>@config.EmailId   </p>
                </MudPaper>
           
        </MudItem>
    
</MudGrid>
</div>


@code {
    public Config config = new Config();

    protected override async Task OnInitializedAsync()
    {
        config = await configService.GetConfigById(601);
    }

}
