@page "/ContactUs"
<div class = "bg">
<MudGrid Class="ml-60 align-center">
    <div class="first">
        <MudItem xs="12" sm="7">
            <div class="second">
                <MudPaper Class="mx-auto pa-6">
                    <h3>Contact Us</h3>
                    <MudIconButton Icon="@Icons.Material.Filled.Phone" aria-label="phone"></MudIconButton>
                    <p>1234567890</p>
                    <MudIconButton Icon="@Icons.Material.Filled.Email" aria-label="email"></MudIconButton>
                    <p>support@gmail.com</p>
                </MudPaper>
            </div>
        </MudItem>
    </div>
</MudGrid>
</div>


@code {

}
