@page "/FAQ"

<MudGrid style = "padding: 205px; margin-left: 200px; margin-top: -150px; color:Background:black"Class="ml-60 align-center">
    <MudItem xs="12" sm="7">
        <MudPaper Class="mx-auto pa-6"> 
        <h3>Frequently Asked Questions</h3>
        <MudExpansionPanels>
    <MudExpansionPanel Text="How do I contact Customer Support?" MaxHeight="150">
        You can email us on support@HyperMarket.com or call us on +91-7303390416 (11:00 AM to 8:00 PM).
    </MudExpansionPanel>
    <MudExpansionPanel Text="What is HyperMarket.com?" MaxHeight="500">
        As the name suggests, we are all about the world around you.We want to be your companion on life’s daily adventures.

So, whether you want to dine at the finest restaurants, relax at the best spas and pamper yourself with great wellness and shopping offers or discover your city intimately, HyperMarket.com makes it happen for you. And that’s not all. 

From tattoo parlors to music concerts, weekend getaways to international vacations, movie tickets to mobile phones, hotel deals to five star meals and more, everything you want is now within reach.
    </MudExpansionPanel>
    <MudExpansionPanel Text="How do I buy & Consume best offers in HyperMarket.com?" MaxHeight="1000">
        At HyperMarket.com we are your companion on lives daily adventures- from your favourite cuisines, to the best gyms or a relaxing spa, get all that you love and more! Just register using your mobile number and email ID, you are ready to go. 

What’s more?

If you download the latest version of the app, you will never need to take voucher print-outs! Just buy, show your voucher at the merchant outlets & ‘Tap to redeem' once you have consumed the service!
    </MudExpansionPanel>
    
</MudExpansionPanels>


</MudPaper>
</MudItem>
</MudGrid>


@code {

}
