first {
    padding: 110px;
    margin-left: 295px;
    margin-top: -50px;
    padding-right: 0px;
    margin-right: -46px
}
.second {
    width: 500px;
    margin-left: 440px;
    margin-top: 130px;
}

.bg {
    height: 120vh;
}
