@page "/FAQ"
@using HyperMarket.DB.Models;
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@inject HyperMarket.Data.Interfaces.IFAQsService faqsService

@if (faqs == null)
{
    <HyperMarket.UIControls.LoadingIcon.Loading/>
}

<div class="backgroundcolor_height">
    <MudGrid Class="d-flex align-center justify-center mud-width-full py-8">

        <MudItem xs="12" sm="7">

            <MudPaper Class="mx-auto pa-6">
                <h3>Frequently Asked Questions</h3>
                <MudExpansionPanels>
                    @foreach (var f in faqs)
                    {
                    <MudExpansionPanel Text="@f.FaqTitle" MaxHeight="150">
                        @f.FaqSolution
                    </MudExpansionPanel>
                        
                    }
                    

                </MudExpansionPanels>
            </MudPaper>
        </MudItem>
    </MudGrid>
</div>

@code {
    public List<Faq> faqs { get; set; } = new List<Faq>();

    protected override async Task OnInitializedAsync()
    {
        faqs = await faqsService.GetAllFaqs();

    }
}
