@page "/"
@using HyperMarket.DB.Models
@using HyperMarket.Shared
@using System.ComponentModel.DataAnnotations
@using HyperMarket.UIControls.LoadingIcon
@inject HyperMarket.Data.Interfaces.IBusinessDetailService businessService
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject HyperMarket.Data.Interfaces.ILocationService locationService
<PageTitle>HyperMarket</PageTitle>

<div class="backgroundclolor_height">
    <div class="d-flex justify-center align-center flex-column ">

        @if (businesses == null)
        {
            <Loading />
        }
        else
        {
            if(location==null)
            {
                <MudText>Please Provide a location</MudText>
            }
            else
            {
            <MudCard Class="d-flex flex-row flex-wrap">
                <div class="row">
                    @foreach (var business in businesses)
                    {
                        @if (business.TopBrands&&business.LocationId==location.LocationId)
                        {
                                <BusinessCard business=business />
                                ctr++;
                            }
                    }
                    @if(ctr==0)
                        {
                           <MudText>Sorry, We currently do not have any listings in the area. Kindly try again later</MudText>
                        }
                    </div>
            </MudCard>
            }
        }
    </div>
</div>


@code {

    public List<BusinessDetail> businesses;
    public Location location;
    private int ctr;
    protected override async Task OnInitializedAsync()
    {
        ctr = 0;
        location = await sessionStorage.GetItemAsync<Location>("Location");

        businesses = await businessService.GetBusinesses();
    }
}

