@page "/"
@using HyperMarket.DB.Models
@using HyperMarket.Shared
@using System.ComponentModel.DataAnnotations
@inject HyperMarket.Data.Interfaces.IBusinessDetailService businessService

<PageTitle>HyperMarket</PageTitle>


<div class = "row">
    
    @foreach(var business in businesses) {
            @if (business.TopBrands){
                <BusinessCard business=business/>
            }
    }
</div>


@code {

    public List<BusinessDetail> businesses = new List<BusinessDetail>();

    protected override async Task OnInitializedAsync()
    {
        businesses = await businessService.GetBusinesses();


    }
}

