@page "/"
@using HyperMarket.DB.Models
@using HyperMarket.Shared
@using System.ComponentModel.DataAnnotations
@using HyperMarket.UIControls.LoadingIcon
@inject HyperMarket.Data.Interfaces.IBusinessDetailService businessService
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
<PageTitle>HyperMarket</PageTitle>

<div class="bg">
    <div class="d-flex justify-center align-center flex-column ">

        @if (businesses == null)
        {
            <Loading/>
        }
        else
        {
           @* <div class="cardHolder">
*@
                <MudCard style = " background-color: #cbf0f561;width: 100%;height: auto;" Class="d-flex flex-row flex-wrap">
                    
                        @foreach (var business in businesses)
                        {
                            @if (business.TopBrands)
                            {
                                <BusinessCard business=business />
                            }
                        }
                </MudCard>

            @*</div>*@
        }
    </div>
</div>


@code {

    public List<BusinessDetail> businesses;

    protected override async Task OnInitializedAsync()
    {
        businesses = await businessService.GetBusinesses();


    }
}

