@page "/"
@using HyperMarket.DB.Models
@using HyperMarket.Shared
@using System.ComponentModel.DataAnnotations
@inject HyperMarket.Data.Interfaces.IBusinessDetailService businessService
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
<PageTitle>HyperMarket</PageTitle>


<div Class="d-flex align-center justify-center mud-width-full py-8">
    
    @if(businesses == null){
        <Spinner />
    }
    else{
        @foreach(var business in businesses) {
                @if (business.TopBrands){
                    <BusinessCard business=business />
                }
        }
    }
</div>


@code {

    public List<BusinessDetail> businesses ;

    protected override async Task OnInitializedAsync(){
        businesses = await businessService.GetBusinesses();


    }
}

