@page "/MyBusiness"
@using HyperMarket.DB.Models
@using HyperMarket.Shared
@using System.ComponentModel.DataAnnotations
@inject HyperMarket.DB.Interfaces.IUserService userService
@inject HyperMarket.Data.Interfaces.IBusinessDetailService businessService


<div class = "bg">
    <EditForm class="pt-8" Model="@user" OnValidSubmit="OnValidSubmit">
    <MudGrid style = "margin-top: -60px;"Class="d-flex justify-center align-center"> 
    <MudItem xs="12" sm="7" style = "margin-top: -93px; padding: 125px;">
        <MudCard style = "height: 790px;margin-top: 0px;">
            <h2 class = "log">My Business</h2>
            <MudCardContent>
                <h6 class = "side">Username</h6>  <MudTextField @bind-Value="user.UserName" Label="" ReadOnly="true" Variant="Variant.Filled" Margin="Margin.Dense">@user.UserName</MudTextField>
                <h6 class = "side">Business Name</h6>  <MudTextField @bind-Value="business.BusinessName" Label="" Variant="Variant.Filled" Margin="Margin.Dense"></MudTextField>
                <h6 class = "side">Business Description</h6>  <MudTextField @bind-Value="business.BusinessDescription" Label="" Variant="Variant.Filled" Margin="Margin.Dense"></MudTextField>
                <h6 class = "side">Mail Id</h6>   <MudTextField @bind-Value="user.EmailId" Label="" Variant="Variant.Filled" Margin="Margin.Dense"></MudTextField>

                <h6 class = "side">Location</h6>  <MudTextField @bind-Value="business.LocationId" Label="" ReadOnly="true" Variant="Variant.Filled" />
                
            </MudCardContent>
            <MudCardActions>
                <MudButton style = "margin-left: 365px;width: 163px;color: white;height: 45px;background-color: #f35555;margin-top: 30px;"  ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Align = "align.Center">Update</MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>
</MudGrid>
</EditForm>
</div>


@code{
    public List<User> users = new List<User>();
    public User user= new User();
    public List<BusinessDetail> Businesses = new List<BusinessDetail>();
    public BusinessDetail business = new BusinessDetail();

    protected override async Task OnInitializedAsync()
    {
        business = await businessService.GetBusinessById(501);
        user = await userService.GetUserById(1001);
    }

    private async Task OnValidSubmit(EditContext context)
    {
        await businessService.UpdateBusiness(business);
    }
 
    }