


.side {
    margin-top: 15px;
}

.bg {
    background-color: #cbf0f561;
    height: 120vh;
}

.second {
    margin-top: -93px;
    padding: 125px;
}

.btn {
    padding-top: 20px;
}

.btncolor {
    color: white;
}

.first {
    margin-top: -60px;
}
