@page "/MyOrderCustomer"
@inject HyperMarket.Data.Interfaces.IOrderService orderservice

<h3 margin-bottom=10px><center>My Orders</center></h3>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="bg">
<MudGrid Class="justify-center d-flex align-center mud-width-full py-8">
    <MudTable Items=@order Class="card">
    <HeaderContent>
        <MudTh>Order No.</MudTh>
        <MudTh>Date</MudTh>
        <MudTh>Description</MudTh>
        <MudTh>Amount</MudTh>
    </HeaderContent>
    <RowTemplate>
        @foreach(var bill in order)
        {
            @if (bill.UserId == 1001)
            {
                <MudTd >@bill.OrderId</MudTd>
                <MudTd >@bill.PaymentId</MudTd>
                <MudTd >@bill.BusinessName</MudTd>
                <MudTd >@bill.MyOrderCredits</MudTd>
            }
        }
    </RowTemplate>
  </MudTable>
</MudGrid>
</div>
@code {
    public List<Order> order = new List<Order>();
    protected override async Task OnInitializedAsync()
    {
       order = await orderservice.GetOrders();
    }
}