.log {
    color: #f35555;
    margin-top: 40px;
    font-size: 24px;
    align-items: "center";
}

.bg {
    background-color: #cbf0f561;
}

.radiotype {
    margin-right: 240px;
    margin-top: 35px;
    text-align: center;
}

.check {
    margin-right: -70px;
}

.amount {
    width: 121px;
    margin-left: 185px;
    margin-top: -45px;
}

.text1 {
    margin-top: -45px;
    margin-bottom: 2px;
    position: relative;
    left: 198px;
    margin-right: 50px;
    height: 115px;
}
.first {
    margin-top: -50px;
}

.second {
    margin-top: -45px;
    padding: 155px;
}

.third {
    height: 600px;
    width: 530px;
    margin-left: -160px
}
.btn {
    margin-left: 325px;
    margin-right: 8px;
    width: 163px;
    color: white;
    height: 45px;
    background-color: #f35555;
    margin-top: -195px;
}

.btncolor {
    color:white;
}

.checkbox1 {
    margin-left: -200px;
    margin-bottom: 61px;
    margin-top: 0px;
}
.fourth {
    padding-bottom: 30px;
}

.radio3 {
    margin-left: -31px;
}

.radio4 {
    margin-left: 12px;
}