.MyProfile_heading {
    color: #f35555;
    margin-top: 60px;
    text-align: center;
    padding-top: 35px;
    font-size: 24px;
}

.content_alignment_top {
    margin-top: 15px;
}

.backgroundcolor_height {
    background-color: #cbf0f561;
    height: 170vh;
    width: 100%;
}

.btn {
    margin-left: 365px;
    width: 163px;
    color: white;
    height: 45px;
    background-color: #f35555;
    margin-top: 45px;
}

.btncolor {
    color: white;
}
