.backgroundcolor_height {
    height: 120vh;
    background-color: #cbf0f561;
}

.table_length {
    margin-right: 85px
}

h4 {
    text-align: center;
    color: #f35555
}

.add_button {
    width: 125px;
    color: white;
    height: 40px;
    background-color: #f35555;
    margin-top: 65px;
    border-radius: 5px;
    position: relative;
    left: 490px;
}


.delete_buttonColor {
    text-align: center;
    color: white;
    margin-top: -4px;
}

.btn {
    margin-left: 6px;
    width: 117px;
    color: white;
    height: 40px;
    background-color: #f35555;
    margin-top: 15px;
}

.add_buttoncolor {
    text-align: center;
    color: white;
    margin-left: 5px;
}
