@page "/Myproduct"

@using System.ComponentModel.DataAnnotations
@using HyperMarket.DB.Models
@inject HyperMarket.Data.Interfaces.IProductService productService

    <MudGrid Class="ml-60 align-center">
        <div class="first">
        <MudItem xs="12" sm="7">
            <MudPaper Class="mx-auto pa-6">
                <h4>MyProducts</h4>
                <table border="3">
                    <thead>
                    <th>ProductID</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Discount</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td contenteditable='true'>@P1.ProductId</td>
                            <td contenteditable='true'>@P1.CategoryId</td>
                            <td contenteditable='true'>@P1.Price</td>
                            <td contenteditable='true'>@P1.Discount</td>
                        </tr>
                    </tbody>
                </table>
                <div class="btn">
                    <MudButton ButtonType="ButtonType.Submit" Align="align.Center">Delete</MudButton>
                </div>
                <div class="btn1">
                    <MudButton ButtonType="ButtonType.Submit" Align="align.Center"> Add</MudButton>
                </div>
            </MudPaper>
        </MudItem>
        </div>
    </MudGrid>


@code {
    public Product P1 = new Product();

    protected override async Task OnInitializedAsync()
    {
        P1 = await productService.GetProductById(1);
    }

}
