::deep div.card-holder {
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap:wrap;
    width:80%;
    border-radius:2em;
    margin-top:6em;
    height:auto;
}
.bg {
    background-color: #cbf0f561;
    height: 300vh;
    overflow:hidden;
}
@media (min-width: 641px) {
    .bg {
        height: 1000vh;
    }
}
