::deep div.card-holder {
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    width:80%;
    border-radius:2em;
    margin-top:6em;
}
.bg {
    background-color: #cbf0f561;
    height: 98VH;
    overflow:hidden;
}

