
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject HyperMarket.Data.Interfaces.IOffer off
@using HyperMarket.UIControls.LoadingIcon
@inject ISnackbar Snackbar
@using HyperMarket.Shared
@page "/offers"

<div class = "bg">
<div class="d-flex justify-center align-center flex-column ">
    @if (currBiz == null && ListOfProducts == null) {
        <Loading/>
    }
  
    else{

    <h1>Offers Related to @currBiz.BusinessName</h1>
    <MudCard Class="card-holder" >
            @foreach(var item in ListOfProducts){
                <ProductCard prod = "@item"/>
            }
    </MudCard>
    }
</div>
</div>

@code {
    public List<Product> ListOfProducts;
    public BusinessDetail currBiz;
    protected override async Task OnInitializedAsync(){
        try
        {
            if (currBiz == null)
            {
                currBiz = await sessionStorage.GetItemAsync<BusinessDetail>("business");
                ListOfProducts = await off.GetProductsByBusinessID(currBiz.UserId);
            }
        }
        catch
        {
            Snackbar.Add("Sorry No Offers", Severity.Info);
        }
    }
}
