
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject HyperMarket.Data.Interfaces.IOffer off
@using HyperMarket.Shared
@page "/offers"

<div class = "bg">
<div class="d-flex justify-center align-center flex-column ">
    @if (currBiz == null && ListOfProducts == null) {
        <Spinner/>
    }
  
    else{

    <h1>Offers Realted to <br>@currBiz.BusinessName</h1>
    <MudCard Class="d-flex flex-row flex-wrap">
            @foreach(var item in ListOfProducts){
                <ProductCard prod = "@item"/>
            }
    </MudCard>
    }
</div>
</div>

@code {
    public List<Product> ListOfProducts;
    public BusinessDetail currBiz;
    protected override async Task OnInitializedAsync(){

        if (currBiz == null)
        {
            currBiz = await sessionStorage.GetItemAsync<BusinessDetail>("business");
            ListOfProducts = await off.GetProductsByBusinessID(currBiz.BusinessId);
        }
    }
}
