@page "/PaymentSuccessful"
@using HyperMarket.DB.Models
@using HyperMarket.Shared
@using System.ComponentModel.DataAnnotations

<div class="first">
    <MudGrid Class="d-flex justify-center align-center;">
        <div class="second">
            <MudItem xs="12" sm="7">
                <div class="third">
                    <MudCard>
                        <MudCardContent>
                            <img class="img" src="images\PaymentMessage.png">
                        </MudCardContent>
                        <MudCardActions>
                            <div class="paymentbtn">
                                <MudButton ButtonType="ButtonType.Submit" Align="align.Center"><a href="/"><div class="btncolor">ok</div></a></MudButton>
                            </div>
                        </MudCardActions>
                    </MudCard>
                </div>
            </MudItem>
        </div>
    </MudGrid>
</div>

@code {

}
