.img {
    height: 450px;
    margin-left: 60px;
    padding-bottom: 50px;
    padding-top: 35px
}

.paymentbtn {
    margin-top: -165px;
    margin-left: 350px;
    width: 120px;
    background-color: #f35555;
}

.first {
    margin-top: -90px;
    background-color: #cbf0f5;
}

.second {
    margin-top: -70px;
    padding: 125px;
}

.third {
    height: 500px;
    margin-top: 130px;
    width: 500px;
}

.btncolor {
    color: white;
    text-align: center;
    margin-left: 40px;
}
