@page "/PaymentSuccessful"
@using HyperMarket.DB.Models
@using HyperMarket.Shared
@using System.ComponentModel.DataAnnotations
@attribute [Authorize(Roles="User")]

<div class="background-alignment">
    <MudGrid Class="d-flex justify-center align-center;">
        <div class="MudItem-alignment">
            <MudItem xs="12" sm="7">
                <div class="MudCard-alignment">
                    <MudCard>
                        <MudCardContent>
                            <img class="payment-image" src="images\PaymentMessage.png">
                        </MudCardContent>
                        <MudCardActions>
                            <div class="paymentbutton">
                                <MudButton ButtonType="ButtonType.Submit" Align="align.Center"><a href="/"><div class="buttoncolor">ok</div></a></MudButton>
                            </div>
                        </MudCardActions>
                    </MudCard>
                </div>
            </MudItem>
        </div>
    </MudGrid>
</div>

@code {

}
