@page "/SignIn"

@using HyperMarket.Shared
@using System.ComponentModel.DataAnnotations

<div class = "bg">
<center>
<EditForm Model="@model" OnValidSubmit="OnValidSubmit">
<DataAnnotationsValidator/>
<MudGrid Class="d-flex justify-center align-center"> 
    <MudItem Class = "second" xs="12" sm="7">
        <MudCard Class = "third" >
            <MudCardContent>
                <h2 class = "log">Log In</h2>
                <MudTextField Label="Username" HelperText="Max. 30 characters"
                              @bind-Value="model.Username" For="@(() => model.Username)"/>
               
                <MudTextField Label="Enter Password" HelperText="Enter your password" Class="mt-3"
                              @bind-Value="model.Password" For="@(() => model.Password)" InputType="InputType.Password"/>
            
            </MudCardContent>
            <MudCardActions>
                <MudButton Class = "fourth"  ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Align = "align.Center">Log In</MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>
</MudGrid>
</EditForm>
</center>
</div>

@code {
    LogInAccountForm model = new LogInAccountForm();
    bool success;

    public class LogInAccountForm
    {
        [Required]
        [StringLength(30, ErrorMessage = "Enter Username")]
        public string Username { get; set; }

        [Required]
        [StringLength(30, ErrorMessage = "Password must be at least 8 characters long.", MinimumLength = 8)]
        public string Password { get; set; }

    }

    private void OnValidSubmit(EditContext context)
    {
        success = true;
        StateHasChanged();
    }

}

