.position {
    color: #f35555;
    text-align: center;
}

.first {
    margin-left: 310px;
    padding: 120px;
    margin-top: -50px;
}

.second {
    margin-right: 300px;
    margin-left: 45px;
}

.bg {
    background-color: #cbf0f561;
    height: 120vh;
}

.btn {
    margin-left: 753px;
    
}

.btncolor {
    color: white;
}
