.position {
    color: #f35555;
    text-align: center;
}

.first {
    margin-left: 310px;
    padding: 120px;
    margin-top: -50px;
}

.second {
    margin-right: 300px;
    margin-left: 45px;
}

.bg {
    background-color: #cbf0f561;
}

.btn {
    margin-left: 330px;
    width: 163px;
    height: 45px;
    background-color: #f35555;
    margin-top: 45px;
    margin-bottom: 18px;
}

.btncolor {
    color: white;
}
