.d-flex justify-center align-center {
    margin-top: -50px;
}


::deep form {
    position: relative;
    top: 30%;

}

::deep div.card-beautified {
    width: 60%;
    border-radius:12px
}
.main-height {
    height: 98vh;
    background-color: #cbf0f561;
}

@media (max-width: 641px) {
    .main-height {
        height: 150vh;
    }
}