@page "/SocialMedia"

<MudGrid style = "padding: 205px; margin-left: 200px; margin-top: -60px; color:Background:black"Class="ml-60 align-center">
    <MudItem xs="12" sm="7">
        <MudPaper Class="mx-auto pa-6"> 
<h3>Follow Us On</h3>
<MudIconButton Icon="@Icons.Custom.Brands.Facebook" Color="Color.Primary" aria-label="github"></MudIconButton>
<MudIconButton Icon="@Icons.Custom.Brands.Instagram" Color="Color.Primary" aria-label="github"></MudIconButton>
<MudIconButton Icon="@Icons.Custom.Brands.Twitter" Color="Color.Primary" aria-label="github"></MudIconButton>

</MudPaper>
</MudItem>
</MudGrid>


@code {

}