@page "/SocialMedia"
<div class="bg">
    <MudGrid>
        <div class="first">
            <MudItem xs="12" sm="7">
                <div class="second">
                    <MudPaper Class="mx-auto pa-6">
                        <h3>Follow Us On</h3>
                        <MudIconButton Icon="@Icons.Custom.Brands.Facebook" Color="Color.Primary" aria-label="github"></MudIconButton>
                        <MudIconButton Icon="@Icons.Custom.Brands.Instagram" Color="Color.Primary" aria-label="github"></MudIconButton>
                        <MudIconButton Icon="@Icons.Custom.Brands.Twitter" Color="Color.Primary" aria-label="github"></MudIconButton>

                    </MudPaper>
                </div>
            </MudItem>
        </div>
    </MudGrid>
</div>

@code {

}