.bg {
         background-color:#cbf0f561;
     }
.card {
    width: 25em;
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 50px;
    height: auto;
    border-radius: .6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: .6em;
    box-shadow: -1px 9px 40px -12px #808080;
    transition: all ease 150ms;
    user-select: none;
}
.card-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    user-select: none;
}
    .card-body .card-text {
        display: flex;
        align-items: flex-start;
        user-select: none;
    }
.imgLogo {
    height: 64px;
    width: 64px;
    border-radius: 2em;
    box-shadow: -1px 9px 40px -12px #808080;
}
.card:hover {
    box-shadow: 1px 9px 40px 12px;
}
.title {
    color: #f35555;
}
.btn {
    background-color: #f35555;
    color: white;

}

.row {
    padding-bottom: 220px;
}

@media only screen and (max-width: 420px) {


    .card {
        height: auto;
        width: 15em;
        margin:0;
        margin-top: 20px;
    }

    button.btn {
        height: 2.5em;
    }
    }