@using HyperMarket.DB.Models

<div class = "card" style = "">
    <img class="imgLogo" src=@business.Logo />

    <div class = "card-body">

        <div class = "card-title">
            <h3>@business.BusinessName</h3> 
        </div>

        <div class = "card-text">
            <p>@business.BusinessDescription</p>
        </div>

        <a href = "/offers" class = "btn" >offers available</a> 

    </div>
</div>


@code {
    // this card structure has a logo image in the center and a card body. 
    // if this is called in some other page then it will need a Object similar with bussinessDetail.
    // it will need a Buniness name

    [Parameter]
    public BusinessDetail business { get; set; }
}
