@using HyperMarket.DB.Models
@inject NavigationManager UriHelper
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
<div class = "card" style = "">
    <img class="imgLogo" src=@business.Logo />

    <div class = "card-body">

        <div class = "card-title">
            <h3>@business.BusinessName</h3> 
        </div>

        <div class = "card-text">
            <p>@business.BusinessDescription</p>
        </div>

        <button class = "btn" @onclick=@clickHandler >More Products</button> 

    </div>
</div>


@code {
    // this card structure has a logo image in the center and a card body. 
    // if this is called in some other page then it will need a Object similar with bussinessDetail.
    // it will need a Buniness name

    [Parameter]
    public BusinessDetail business { get; set; }


    public async void clickHandler(){
        //Console.WriteLine("came inside this buttons and bussiness ID is "+ this.business.BusinessId);

        await sessionStorage.SetItemAsync("business", this.business);
        UriHelper.NavigateTo("/offers");
    }
}
