.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.flex-container {
    display: flex;
    flex-direction: row;
}
.space3 {
    margin-top: 20px;
}

.space2 {
    margin-left: 880px;
    margin-right: 50px;
}

.space5 {
}


.link1 {
    color: White;
    padding-right: 0px;
    padding-left: 165px;
}

.appcolor {
    color: white;
}

.appbarcolor {
    background-color: #f35555;
}

.container {
    display: flex;
    flex-direction: column;
}

.content {
    background-color: #cbf0f5d4;
}

.ul {
    flex-wrap: wrap;
    justify-content: center;
}


.dropdown {
    float: left;
    overflow: hidden;
}


.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
::deep div.wider{
    width:20%;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


.dropdown-content a:hover {
    background-color: #ddd;
}

.second {
    width: 120px;
    color: white;
    margin-right: 30px;
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row ::deep a, .top-row ::deep .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
}

.top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
    text-decoration: underline;
}

.top-row ::deep a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth ::deep a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

/*.grid{

}*/

/*.{
    margin:0;
    padding:0;
    list-style:none;
    text-decoration:none;

}*/
.footer{
    width:100vw;
    display:block;
    overflow:auto;
    height:25vw;
    box-sizing:border-box;
    background-color: #18181a;
    padding-top:2vh;
    border-radius:10px;
    user-select:none;
}
.inner_footer {
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
    user-select: none;
}

.inner_footer .logo_container{
    display:block;
    width:25%;
    float:left;
    height:100%;
}
.inner_footer .logo_container img{
    width:65px;
    height:auto;
    position:relative;
    left:20%;
}

.inner_footer .footer-third{
    width=calc(21.66667%-20px);
    margin-right:100px;
    float:left;
    height: 100%;
}

.inner_footer .footer-third:last-child{
    margin-right:0;

}

.inner_footer .footer-third h1{
    font-family:'arial';
    font-size:26px;
    color:white;
    display:block;
    width:100%;
    margin-bottom:40px;
}

.inner_footer .footer-third a{
    font-family:'arial';
    font-size:18px;
    font-weight:200;
    color:white;
    display:block;
    width:100%;
    margin-bottom:35px;
    user-select:none;
}

#location-dropdown{
    margin-left:30px;
    margin-bottom:5px;
}

.navbar-padding{
    margin-top:0px;
    margin-bottom:0px;
    margin-left:10px;
    margin-right:10px;
}

.app-margin{
    margin:0px 20px;
}