@inherits LayoutComponentBase
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavigationManager


<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>


<MudLayout>
    <MudAppBar style = "background-color : #f35555;" Fixed="false" Dense="true" >
    <a href="/">
    <MudImage Src = "images/LOGO.png" Width="48" Height="48" />
    </a>
    <MudSelect style = "margin-right: 750px;"Margin="Margin.Dense" T="string" Label="Location" Variant="Variant.Outlined">
            @foreach (var item in AllLocations){
                <MudSelectItem Value=@item/>
            }
            
    </MudSelect>
    <MudSpacer />
    <AuthorizeView>
            <Authorized>
                <span>Hi, @context.User.Identity.Name </span>
                <MudLink href="listBusiness">List Your Business</MudLink>
                <MudLink @onclick="Signout">Sign Out</MudLink>
            </Authorized>
            <NotAuthorized>
                <div>
                    <MudLink href="signin">Sign In</MudLink>
                    <MudLink href="signup">Sign Up</MudLink>
                </div>
            </NotAuthorized>
     </AuthorizeView>
    
    @*<MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" />*@
    </MudAppBar>

    
    <MudMainContent style = "background-color: #cbf0f5d4;">
        @Body
    </MudMainContent>
    
    <MudAppBar
        Color="Color.Dark" Fixed="true" Dense="true" Bottom="true">
        <MudItem>    
        <MudLink Href="/About" Underline="Underline.Always"><a style = " color: White;padding-right: 170px;padding-left: 170px;"href="/about">About</a></MudLink>
        </MudItem>
        <MudLink Href="/Blog" Underline="Underline.Always"><a style = " color: White;padding-right: 170px;" href="/blog">Blog</a></MudLink>
        <MudLink Href="/SocialMedia" Style="color: white;" Underline="Underline.Always"><a style = " color: White;padding-right: 170px;" href="/SocialMedia" >Social Media</a></MudLink>
        <MudLink Href="/FAQ" Style="color: white;" Underline="Underline.Always"><a style = " color: White;padding-right: 170px;" href="/FAQ" >FAQ's</a></MudLink>
        <MudLink Href="/ContactUs" Style="color: white;" Underline="Underline.Always"><a style = " color: White;padding-right: 170px;"  href="/ContactUs">Contact Us</a></MudLink>
    </MudAppBar>
</MudLayout>
    
     

@code {
    public List<String> AllLocations = new List<String>();

    protected override async Task OnInitializedAsync()
    {

        AllLocations = await locationService.GetAllLocation();

    }
    
    private async void Signout()
    {
        await LocalStorage.RemoveItemAsync("authToken");
        await AuthStateProvider.GetAuthenticationStateAsync();
        NavigationManager.NavigateTo("/");
    }
}
